[2020-11-11 08:52] romebell opened #1 "Thursday, November 12, 2020"
**Admin**
👀 - [admin] is looking into it
👍 - [admin] Answer issue. Looks good. Code works.

**Students**
🚀 - [student] I get it!
😕 - [student] Still confused
😄 - [student] A simple error
🎉 - [student] My code now works

**Admin/Students**
❤️ - [student/admin] Love the topic or code snippet
👎 - [student/admin] Code didn't work

[2020-11-11 08:53] romebell opened #2 "Friday, November 13, 2020"
**Admin**
👀 - [admin] is looking into it
👍 - [admin] Answer issue. Looks good. Code works.

**Students**
🚀 - [student] I get it!
😕 - [student] Still confused
😄 - [student] A simple error
🎉 - [student] My code now works

**Admin/Students**
❤️ - [student/admin] Love the topic or code snippet
👎 - [student/admin] Code didn't work

[2020-11-11 08:54] romebell opened #3 "Monday, November 16, 2020"
**Admin**
👀 - [admin] is looking into it
👍 - [admin] Answer issue. Looks good. Code works.

**Students**
🚀 - [student] I get it!
😕 - [student] Still confused
😄 - [student] A simple error
🎉 - [student] My code now works

**Admin/Students**
❤️ - [student/admin] Love the topic or code snippet
👎 - [student/admin] Code didn't work

[2020-11-11 08:54] romebell opened #4 "Tuesday, November 17, 2020"
**Admin**
👀 - [admin] is looking into it
👍 - [admin] Answer issue. Looks good. Code works.

**Students**
🚀 - [student] I get it!
😕 - [student] Still confused
😄 - [student] A simple error
🎉 - [student] My code now works

**Admin/Students**
❤️ - [student/admin] Love the topic or code snippet
👎 - [student/admin] Code didn't work

[2020-11-11 08:55] romebell opened #5 "Wednesday, November 18, 2020"
**Admin**
👀 - [admin] is looking into it
👍 - [admin] Answer issue. Looks good. Code works.

**Students**
🚀 - [student] I get it!
😕 - [student] Still confused
😄 - [student] A simple error
🎉 - [student] My code now works

**Admin/Students**
❤️ - [student/admin] Love the topic or code snippet
👎 - [student/admin] Code didn't work

[2020-11-11 08:55] romebell opened #6 "Thursday, November 19, 2020"
**Admin**
👀 - [admin] is looking into it
👍 - [admin] Answer issue. Looks good. Code works.

**Students**
🚀 - [student] I get it!
😕 - [student] Still confused
😄 - [student] A simple error
🎉 - [student] My code now works

**Admin/Students**
❤️ - [student/admin] Love the topic or code snippet
👎 - [student/admin] Code didn't work

[2020-11-11 08:55] romebell opened #7 "Friday, November 20, 2020"
**Admin**
👀 - [admin] is looking into it
👍 - [admin] Answer issue. Looks good. Code works.

**Students**
🚀 - [student] I get it!
😕 - [student] Still confused
😄 - [student] A simple error
🎉 - [student] My code now works

**Admin/Students**
❤️ - [student/admin] Love the topic or code snippet
👎 - [student/admin] Code didn't work

[2020-11-11 09:21] romebell opened #8 "[rapid fire] Thursday, November 13, 2020"

[2020-11-12 14:24] romebell commented on #1
- [ ] Thing 1
- [ ] Thing 2
- [ ] Thing 3

[2020-11-12 14:37] romebell commented on #8
https://github.com/SEI-ATL/UNIT_2/projects/1#card-49229472

[2020-11-12 14:38] romebell commented on #8
https://github.com/SEI-ATL/UNIT_2/projects/1#card-49229472

[2020-11-12 14:39] romebell commented on #8
https://github.com/SEI-ATL/UNIT_2/projects/1#card-49229470

[2020-11-12 14:40] romebell commented on #8
https://github.com/SEI-ATL/UNIT_2/projects/1#card-49229470

[2020-11-12 14:46] romebell opened #9 "node-modules deliverable"
Please turn in

[2020-11-12 15:55] romebell commented on #1
[code]

[2020-11-12 15:57] romebell commented on #1
<img width="692" alt="Screen Shot 2020-11-12 at 7 56 42 AM" src="https://user-images.githubusercontent.com/13144457/98963560-9c51f300-24bc-11eb-98d5-ab33050c5123.png">

[code]

[2020-11-12 16:29] #9 closed, assigned to dextermichael

[2020-11-12 17:35] romebell commented on #1
<img width="572" alt="Screen Shot 2020-11-12 at 9 34 20 AM" src="https://user-images.githubusercontent.com/13144457/98974879-42582a00-24ca-11eb-913d-923fa3ac630c.png">

[code]

[2020-11-12 17:36] romebell commented on #1
link

[2020-11-12 17:37] wjlock commented on #1
![Screen Shot 2020-11-12 at 12 36 59 PM](https://user-images.githubusercontent.com/29718469/98975158-c539ae80-24e3-11eb-94ad-47179e47e04c.png)
[code]

[2020-11-12 17:37] tylerdance commented on #1
<img width="772" alt="Screen Shot 2020-11-12 at 12 36 41 PM" src="https://user-images.githubusercontent.com/72777766/98975131-bc48dd00-24e3-11eb-9db6-c74e345b0564.png">

[code]

[2020-11-12 17:37] NikkiHmltn commented on #1
<img width="430" alt="Screen Shot 2020-11-12 at 9 37 09 AM" src="https://user-images.githubusercontent.com/65046641/98975171-a4b12a80-24ca-11eb-8166-3ef6f4bd8beb.png">
[code]

[2020-11-12 17:38] nitishdayal commented on #1
[code]
![Screen Shot 2020-11-12 at 9 36 57 AM](https://user-images.githubusercontent.com/14283798/98975271-83a50580-24db-11eb-8a6b-69a21f7c6637.png)

[2020-11-12 17:38] JJURIZ commented on #1
![image](https://user-images.githubusercontent.com/52257926/98975239-dbe00580-24e3-11eb-9896-97058260395c.png)

[code]

[2020-11-12 17:38] ABarranco95 commented on #1
<img width="599" alt="Screen Shot 2020-11-12 at 9 36 51 AM" src="https://user-images.githubusercontent.com/30968936/98975151-9cf18600-24ca-11eb-9d48-8019bd07bfa6.png">

[code]

[2020-11-12 17:38] alanavery commented on #1
<img width="414" alt="Screen Shot 2020-11-12 at 11 37 36 AM" src="https://user-images.githubusercontent.com/70100344/98975230-79830700-24db-11eb-863d-505c9ae5cc5d.png">

[code]

[2020-11-12 17:38] ruvvet commented on #1
![image](https://user-images.githubusercontent.com/63803927/98975253-e26e7d00-24e3-11eb-8d03-bd08703a995f.png)

[code]

[2020-11-12 17:38] CoreyWilson319 commented on #1
![image](https://user-images.githubusercontent.com/72322079/98975232-db476f00-24e3-11eb-8f5b-8554def1ba5b.png)

[code]

[2020-11-12 17:38] canourrea23 commented on #1
![Screen Shot 2020-11-12 at 12 37 21 PM](https://user-images.githubusercontent.com/73137943/98975258-e39faa00-24e3-11eb-8af6-a730a2fa699f.png)
[code]

[2020-11-12 17:38] tcgilbert commented on #1
<img width="681" alt="Screen Shot 2020-11-12 at 12 38 00 PM" src="https://user-images.githubusercontent.com/64277654/98975291-ebf7e500-24e3-11eb-9da8-bbad53a20619.png">
[code]

[2020-11-12 17:38] codebypaul commented on #1
![Screen Shot 2020-11-12 at 12 36 56 PM](https://user-images.githubusercontent.com/65035460/98975276-e6020400-24e3-11eb-829d-6a5d1c7b795d.png)
[code]

[2020-11-12 17:38] sschneeberg commented on #1
[code]
<img width="389" alt="Screen Shot 2020-11-12 at 12 38 16 PM" src="https://user-images.githubusercontent.com/73137932/98975327-f7e3a700-24e3-11eb-8a53-1ce7f2a2fd35.png">

[2020-11-12 17:38] lev-choubine commented on #1
![Screen Shot 2020-11-12 at 12 37 18 PM](https://user-images.githubusercontent.com/68445801/98975282-e7cbc780-24e3-11eb-82b4-35908f02e4b7.png)
[code]

[2020-11-12 17:38] fmuwanguzi commented on #1
![Screen Shot 2020-11-12 at 12 38 01 PM](https://user-images.githubusercontent.com/72531389/98975351-fe721e80-24e3-11eb-9996-1b7734b9858a.png)

[code]

[2020-11-12 17:39] tcgilbert commented on #1
<img width="681" alt="Screen Shot 2020-11-12 at 12 38 00 PM" src="https://user-images.githubusercontent.com/64277654/98975326-f74b1080-24e3-11eb-9adb-b3726ee9d929.png">

[code]

[2020-11-12 17:39] anonyymous1 commented on #1
![Screen Shot 2020-11-12 at 12 37 04 PM](https://user-images.githubusercontent.com/71801837/98975164-c66adb80-24e3-11eb-9c6e-a928a3fe6177.png)

[code]

[2020-11-12 17:39] AlexJBustillos commented on #1
![Screen Shot 2020-11-12 at 12 37 26 PM](https://user-images.githubusercontent.com/70779389/98975402-0f229480-24e4-11eb-89ca-e656e60405f5.png)

[code]

[2020-11-12 17:39] tuhoalyhuynh commented on #1
[code]
![code](https://user-images.githubusercontent.com/73137931/98975426-18abfc80-24e4-11eb-9c2d-4d6df9aba509.png)

[2020-11-12 17:39] AJStrizzy commented on #1
![Screen Shot 2020-11-12 at 12 38 28 PM](https://user-images.githubusercontent.com/73137855/98975478-26fa1880-24e4-11eb-85cf-faaa920512aa.png)

[code]

[2020-11-12 17:39] NikkiHmltn commented on #1
[code]
<img width="442" alt="Screen Shot 2020-11-12 at 9 39 44 AM" src="https://user-images.githubusercontent.com/65046641/98975472-ffe31d00-24ca-11eb-82da-d2f916f42d31.png">

[2020-11-12 17:39] andrewemcmanus commented on #1
![Screen Shot 2020-11-12 at 12 37 59 PM](https://user-images.githubusercontent.com/60327690/98975463-22cdfb00-24e4-11eb-9039-75701900b23f.png)

[code]

[2020-11-12 17:40] Swolepenguin commented on #1
![image](https://user-images.githubusercontent.com/71688940/98975439-1cd81a00-24e4-11eb-87b0-bf6c653a8b70.png)

[code]

[2020-11-12 17:40] JaxonNarramore commented on #1
![Screen Shot 2020-11-12 at 11 39 34 AM](https://user-images.githubusercontent.com/71084561/98975479-c5ce4700-24db-11eb-9da9-f3530145de9d.png)
[code]

[2020-11-12 17:40] NykywanP commented on #1
[code]

[2020-11-12 17:40] NykywanP commented on #1
![Screen Shot 2020-11-12 at 12 38 18 PM](https://user-images.githubusercontent.com/71296393/98975555-3e390600-24e4-11eb-9967-834f111281db.png)

[2020-11-12 17:40] edgerees commented on #1
![image](https://user-images.githubusercontent.com/73088415/98975525-37aa8e80-24e4-11eb-968a-5824943913c0.png)
[code]

[2020-11-12 17:40] zfinnan commented on #1
<img width="1280" alt="Screen Shot 2020-11-12 at 11 40 30 AM" src="https://user-images.githubusercontent.com/63361320/98975564-e0082500-24db-11eb-8a50-f8458b1aeac1.png">

[code]

[2020-11-12 17:41] tuanhrex commented on #1
[code]

![image](https://user-images.githubusercontent.com/73137920/98975517-337e7100-24e4-11eb-922b-291197b89464.png)

[2020-11-12 17:41] marjames98 commented on #1
[code]

[2020-11-12 17:41] zfinnan commented on #1
function getProduct() {
let num1 = 5
return num1}
getProduct()

[2020-11-12 17:41] richardleung1 commented on #1
![Screen Shot 2020-11-12 at 12 39 56 PM](https://user-images.githubusercontent.com/48265854/98975501-2feaea00-24e4-11eb-81c5-e749ae663920.png)

[code]

[2020-11-12 17:42] marjames98 commented on #1
[code]

[2020-11-12 17:44] alloursjournall commented on #1
![Screen Shot 2020-11-12 at 2 19 49 PM](https://user-images.githubusercontent.com/73137934/98993792-ee1a6d80-24fc-11eb-9eb2-4dcae6eaf6b1.png)

[code]

[2020-11-12 17:47] maddevred commented on #1
![Screenshot from 2020-11-12 12-44-58](https://user-images.githubusercontent.com/73178321/98976326-362d9600-24e5-11eb-90a3-a33fe0227dc3.png)
[code]

[2020-11-12 17:48] jtreeves commented on #1
![Screen Shot 2020-11-12 at 12 42 57 PM](https://user-images.githubusercontent.com/15839768/98976322-3594ff80-24e5-11eb-8237-dc403052073c.png)

[code]

[2020-11-12 17:50] romebell commented on #1
[code]

<img width="475" alt="Screen Shot 2020-11-12 at 9 49 48 AM" src="https://user-images.githubusercontent.com/13144457/98976612-6a488d00-24cc-11eb-9a47-d9302fb60130.png">

[2020-11-12 18:01] romebell commented on #1
https://github.com/SEI-ATL/UNIT_2/projects/2#card-49244268

[2020-11-12 18:02] romebell opened #10 "Make a function checkWinner"
- [ ] return winner
- [x] Step 2
- [x] Step 3

[2020-11-12 18:04] #10 closed, assigned to nobody

[2020-11-12 18:52] romebell commented on #1
https://github.com/SEI-ATL/UNIT_2/projects/2#column-11655851

[2020-11-12 19:13] maddevred opened #11 "install node for linux machine"
![Screenshot from 2020-11-12 14-11-21](https://user-images.githubusercontent.com/73178321/98985224-3f246480-24f1-11eb-9067-6b36d7d75efa.png)

[2020-11-12 19:17] pmacaluso3 commented on #11
What output do you get when you run `node -v`?

[2020-11-12 19:34] maddevred opened #12 "node not printing correctly"
![Screenshot from 2020-11-12 14-32-24](https://user-images.githubusercontent.com/73178321/98987483-3bdea800-24f4-11eb-95ce-86eb0346a342.png)

[2020-11-12 19:39] nitishdayal commented on #12
Is that your code on the left side?

[2020-11-12 19:40] JaxonNarramore opened #13 "Function wont display"
![Screen Shot 2020-11-12 at 1 39 33 PM](https://user-images.githubusercontent.com/71084561/98987926-82300900-24ec-11eb-9982-72de37039313.png)
![Screen Shot 2020-11-12 at 1 39 52 PM](https://user-images.githubusercontent.com/71084561/98987953-8cea9e00-24ec-11eb-8579-718cfb2bc867.png)

[2020-11-12 19:40] romebell commented on #12
Issue solved ✅

[2020-11-12 19:40] #12 closed, assigned to nobody

[2020-11-12 19:44] marjames98 commented on #11
@pmacaluso3
![Screenshot from 2020-11-12 14-42-22](https://user-images.githubusercontent.com/73178321/98988366-8dd3fd80-24f5-11eb-830e-43aa2ec388c9.png)

[2020-11-12 19:44] maddevred commented on #11
![Screenshot from 2020-11-12 14-43-45](https://user-images.githubusercontent.com/73178321/98988395-99272900-24f5-11eb-8737-5dfcb8bc8a17.png)

[2020-11-12 19:52] maddevred opened #14 "functions won't display in node"
![Screenshot from 2020-11-12 14-51-52](https://user-images.githubusercontent.com/73178321/98989143-adb7f100-24f6-11eb-8cf0-3601a0b58a4b.png)

[2020-11-12 20:04] maddevred commented on #14
resolved

[2020-11-12 20:04] #14 closed, assigned to nobody

[2020-11-12 20:05] #11 closed, assigned to nobody

[2020-11-12 20:15] pmacaluso3 commented on #13
Fixed?

[2020-11-12 20:31] romebell commented on #13
Issue solved ✅

[2020-11-12 20:39] #13 closed, assigned to nobody

[2020-11-12 20:40] romebell opened #15 "[lab] Node Express README"
- [ ] Add repo link here

[2020-11-12 20:40] sschneeberg commented on #15
https://github.com/sschneeberg/Node-Express

[2020-11-12 20:40] tuhoalyhuynh commented on #15
https://github.com/tuhoalyhuynh/node-express/blob/main/README.md

[2020-11-12 20:40] anonyymous1 commented on #15
https://github.com/anonyymous1/node-express

[2020-11-12 20:40] JaxonNarramore commented on #15
https://github.com/JaxonNarramore/node-express

[2020-11-12 20:40] canourrea23 commented on #15
https://github.com/canourrea23/Node-express

[2020-11-12 20:40] tuanhrex commented on #15
https://github.com/tuanhrex/node-express/blob/main/README.md

[2020-11-12 20:40] wjlock commented on #15
https://github.com/wjlock/node-express

[2020-11-12 20:40] fmuwanguzi commented on #15
https://github.com/fmuwanguzi/node-express

[2020-11-12 20:40] zfinnan commented on #15
https://github.com/zfinnan/node-express

[2020-11-12 20:41] lev-choubine commented on #15
https://github.com/lev-choubine/node-express

[2020-11-12 20:41] JJURIZ commented on #15
https://github.com/JJURIZ/GA-Node_Express

[2020-11-12 20:41] CoreyWilson319 commented on #15
https://github.com/CoreyWilson319/node-express

[2020-11-12 20:41] NikkiHmltn commented on #15
https://github.com/NikkiHmltn/node-express

[2020-11-12 20:41] jtreeves commented on #15
https://github.com/jtreeves/node-express

[2020-11-12 20:41] maddevred commented on #15
https://github.com/marjames98/node-express

[2020-11-12 20:41] tcgilbert commented on #15
https://github.com/tcgilbert/node-express

[2020-11-12 20:41] AlexJBustillos commented on #15
https://github.com/AlexJBustillos/node-express

[2020-11-12 20:41] richardleung1 commented on #15
https://github.com/richardleung1/node-express

[2020-11-12 20:42] ABarranco95 commented on #15
https://github.com/ABarranco95/node-express/blob/main/README.md

[2020-11-12 20:45] romebell commented on #15
Jenny Feng  4 minutes ago
https://github.com/ruvvet/node-express (edited)

Ariel Strizower - SEI (He/Him)  3 minutes ago
https://github.com/AJStrizzy/Node-Express (edited)

Ashton Mitchell  3 minutes ago
https://github.com/Swolepenguin/node-express (edited)

Tyler Dance  3 minutes ago
https://github.com/tylerdance/node-express (edited)

Paul Williams  2 minutes ago
https://github.com/codebypaul/no

[2020-11-12 20:57] #15 closed, assigned to nobody

[2020-11-12 20:57] maddevred commented on #1
@pmacaluso3
![Screenshot from 2020-11-12 15-57-07](https://user-images.githubusercontent.com/73178321/98995728-c37de400-24ff-11eb-8f00-0377cfc99cec.png)

[2020-11-12 21:01] maddevred commented on #1
resolved
![Screenshot from 2020-11-12 16-00-57](https://user-images.githubusercontent.com/73178321/98996078-4e5ede80-2500-11eb-89eb-3b411766df8f.png)

[2020-11-12 21:24] maddevred commented on #1
@pmacaluso3
![Screenshot from 2020-11-12 16-24-04](https://user-images.githubusercontent.com/73178321/98998092-95020800-2503-11eb-9260-c6729a8a9368.png)

![Screenshot from 2020-11-12 16-27-41](https://user-images.githubusercontent.com/73178321/98998367-08a41500-2504-11eb-8fd8-22ac4d837109.png)

[2020-11-12 21:30] maddevred commented on #1
nevermind, guess google gave me the wrong command
![Screenshot from 2020-11-12 16-30-22](https://user-images.githubusercontent.com/73178321/98998596-6afd1580-2504-11eb-9954-04301c336283.png)

[2020-11-12 21:36] alanavery commented on #1
Hey, guys. I was unable to access nodemon, despite successfully installing it. As you can see in the screenshot below, I confirmed that it's been installed at the global level, but when I try to access it, I get `zsh: command not found: nodemon`.

<img width="396" alt="Screen Shot 2020-11-12 at 3 27 31 PM" src="https://user-images.githubusercontent.com/70100344/98998817-5b79ce80-24fc-11eb-8edd-fb1

[2020-11-12 21:39] canourrea23 commented on #1
My node_modules is still showing in ls
![Screen Shot 2020-11-12 at 4 38 03 PM](https://user-images.githubusercontent.com/73137943/98999316-95030780-2505-11eb-9019-568461c16c7a.png)

[2020-11-12 22:23] alanavery commented on #1
I finally got it working. I had to reinstall Node (I did it via Node Version Manager this time), as well as Nodemon, but I'm up and running now. Definitely need to dig into this more when I get time—shell profiles and where programs are saved is still a little hazy to me.

[2020-11-13 12:53] #1 closed, assigned to nobody

[2020-11-13 13:19] romebell opened #16 "[unit 2] Challenge Problems | 11/13/2020"
## Challenge 1

Write a function `moreDotLessDash(str)` that takes in a string and
returns the true if the string contains more dots ('.') than dashes
('-'), false otherwise.

**Examples:**

[code]

[code]

[2020-11-13 13:23] romebell commented on #16
## Challenge 2

Write a function `opposingSums(array)` that takes in an array of numbers
and returns a new array containing half the number of elements. Assume
the `array` contains an even number of elements.

The first element of the new array should be the sum between the 1st and
last element of the original `array`. The second element of the new array
should be the sum between the 2nd and 2nd t

[2020-11-13 13:26] #8 closed, assigned to nobody

[2020-11-13 13:35] romebell commented on #16
### 🛑 Wait before posting code

[2020-11-13 14:35] nitishdayal commented on #16
[code]

[code]

[2020-11-13 14:35] tcgilbert commented on #16
Challenge 1

[code]

Challenge 2

[code]

[2020-11-13 14:35] ruvvet commented on #16
[code]

[2020-11-13 14:35] richardleung1 commented on #16
[code]

[2020-11-13 14:36] JJURIZ commented on #16
[code]

[code]

[2020-11-13 14:36] CoreyWilson319 commented on #16
Challenge 1
[code]
Challenge 2
[code]

[2020-11-13 14:36] zfinnan commented on #16
[code]

[2020-11-13 14:36] jtreeves commented on #16
[code]

[2020-11-13 14:36] lev-choubine commented on #16
let yourString = "gho ---- ....."
let result
let dot= [];
let dash = [];
function moreDotThenString(string) {
res = string.split("");

res.forEach(function(e)
{if(e === "."){
dot.push(e)
return dot;
}else if( e=== "-"){
dash.push(e)
return dash;
}});

if(dot.length > dash.length){
    result =true;
}else{
    result = false
} return result;
}

console.log(moreDotThenString(yourString));
console.lo

[2020-11-13 14:36] alanavery commented on #16
[code]

[2020-11-13 14:36] fmuwanguzi commented on #16
[code]

[2020-11-13 14:36] ABarranco95 commented on #16
[code]

[2020-11-13 14:36] AJStrizzy commented on #16
[code]

[2020-11-13 14:37] codebypaul commented on #2
### Challenge 1
[code]
### Challenge 2
[code]

[2020-11-13 14:37] AlexJBustillos commented on #16
Did not get to finish second one
[code]

[2020-11-13 14:37] tuhoalyhuynh commented on #16
[code]

[2020-11-13 14:37] tylerdance commented on #16
[code]

[2020-11-13 14:37] canourrea23 commented on #16
[code]

[2020-11-13 14:37] anonyymous1 commented on #16
[code]

No Second one

[2020-11-13 14:38] codebypaul commented on #16
### Challenge 1
[code]

### Challenge 2
[code]

[2020-11-13 14:38] JaxonNarramore commented on #16
[code]

[2020-11-13 14:38] Swolepenguin commented on #16
[code]

[2020-11-13 14:38] NikkiHmltn commented on #16
//Challenge 1

[code]
//Challenge 2 (not working)

[code]

[2020-11-13 14:39] andrewemcmanus commented on #16
[code]
still incorrect:
[code]

[2020-11-13 14:41] edgerees commented on #16
Only completed first challenge

[code]

[2020-11-13 14:43] edgerees commented on #16
[code]

[2020-11-13 14:44] sschneeberg commented on #16
[code]

[code]

[2020-11-13 14:45] lev-choubine commented on #16
[code]

[2020-11-13 14:48] canourrea23 commented on #16
[code]

[2020-11-13 14:58] romebell commented on #16
## Solutions

### Challenge 1
[code]

### Challenge 2
[code]

[2020-11-13 15:39] marjames98 commented on #2
![Screenshot from 2020-11-13 10-37-54](https://user-images.githubusercontent.com/73178321/99090356-81ef4680-259c-11eb-8548-d863bf71fce2.png)

[2020-11-13 15:40] maddevred commented on #2
@romebell
![Screenshot from 2020-11-13 10-40-15](https://user-images.githubusercontent.com/73178321/99090421-a1866f00-259c-11eb-805d-8850cfc05391.png)

[2020-11-13 15:44] Swolepenguin commented on #2
Ashton

[2020-11-13 15:44] lev-choubine commented on #2
Lev

[2020-11-13 15:44] CoreyWilson319 commented on #2
Corey

[2020-11-13 15:58] lev-choubine commented on #2
I am all caught up now. I am good thanks.

[2020-11-13 16:07] fmuwanguzi commented on #2
`
testdb=# CREATE TABLE students (
testdb(# id SERIAL PRIMARY KEY,
testdb(# name TEXT,
testdb(# phone VARCHAR(15),
testdb(# email TEXT,
testdb(# );
ERROR:  syntax error at or near ")"
LINE 6: );
        ^
testdb=#
`

[2020-11-13 16:08] fmuwanguzi commented on #2
![Screen Shot 2020-11-13 at 11 08 05 AM](https://user-images.githubusercontent.com/72531389/99093471-8289dc00-25a0-11eb-9578-50be6dc6b21d.png)

[2020-11-13 16:18] canourrea23 commented on #2
I didn't add the VALUES before closing
[code]

[2020-11-13 16:22] tcgilbert commented on #2
![Screen Shot 2020-11-13 at 11 19 27 AM](https://user-images.githubusercontent.com/64277654/99094926-76068300-25a2-11eb-97cd-06f3ee5da354.png)

[2020-11-13 16:39] pmacaluso3 commented on #2
Carolina, you have a few options. You can drop the students table and recreate it including the phone column. You can also use a command like this which we're not officially covering this morning, but it's good to know:
[code]
There is documentation for it here: https://www.w3schools.com/sql/sql_alter.asp

[2020-11-13 16:44] canourrea23 commented on #2
Was able to Drop and restart the process.

[2020-11-13 17:22] jtreeves commented on #2
![Screen Shot 2020-11-13 at 12 21 40 PM](https://user-images.githubusercontent.com/15839768/99101638-de596280-25aa-11eb-81a9-d79f5cd12741.png)

[code]

[2020-11-13 17:47] maddevred commented on #2
@romebell
![Screenshot from 2020-11-13 12-47-02](https://user-images.githubusercontent.com/73178321/99103988-5ecd9280-25ae-11eb-99db-fda085d9c0a9.png)

[2020-11-13 17:54] mkzarra commented on #2
remove the `function` keyword when using `=>`. They're just different ways to write a function. Either will work here, but they can't be combined.

[code]

[2020-11-13 20:26] #16 closed, assigned to nobody

[2020-11-13 20:42] canourrea23 commented on #2
I am getting this error when I try to run nodemon index.js on an other terminal
![Screen Shot 2020-11-13 at 3 41 41 PM](https://user-images.githubusercontent.com/73137943/99119149-cb548b80-25c6-11eb-9715-00a6c3d2a920.png)

[2020-11-13 20:44] romebell commented on #2
@canourrea23 You have a server already running.

[2020-11-13 21:12] romebell opened #17 "[deliverable] Node Modules Practice"
Link: https://github.com/SEI-ATL/node_modules_practice

- [ ] Complete and make `pull request`

**Reading**
- [x] [SQL](https://romebell.gitbook.io/sei-1019/databases/sql-intro)
- [x] [SQL Cheatsheet](https://romebell.gitbook.io/sei-1019/resources/sqlcheatsheet)
- [x] [Intro to Express](https://romebell.gitbook.io/sei-1019/node-express/00readme-1/01intro-to-express)
- [x] [Express Routes](https://

[2020-11-13 21:42] canourrea23 commented on #2
[code]
![Screen Shot 2020-11-13 at 4 42 00 PM](https://user-images.githubusercontent.com/73137943/99123924-2d18f380-25cf-11eb-92bc-8786782fd2a0.png)

[2020-11-14 05:44] NykywanP commented on #17
Task complete!! [deliverable] Node Modules Practice
#17

[2020-11-16 13:54] #2 closed, assigned to nobody

[2020-11-16 13:55] romebell opened #18 "[unit 2] Challenge Problems | 11/16/2020"
## Challenge 1
Write a function `mindPsAndQs(str)` that accepts a string of uppercase
letters. The function should return the length of the longest consecutive
streak of the letters 'P' and 'Q'.

Hint: Use two variables. One to track the length of the current streak
and another to track the length of the longest streak so far. Think of
using a strategy similar to maxValue. This can also be solved

[2020-11-16 13:58] romebell commented on #18
## Challenge 2

Write a function `commonFactors(num1, num2)` that returns an array that
contains the common factors between both numbers. A factor is a number
that divides another number with no remainder.

**Examples:**

[code]
[code]

[2020-11-16 14:26] richardleung1 commented on #18
[code]

[2020-11-16 14:27] CoreyWilson319 commented on #18
[code]

[2020-11-16 14:27] lev-choubine commented on #18
[code]

[2020-11-16 14:27] tylerdance commented on #18
[code]
lol smh

[2020-11-16 14:27] tcgilbert commented on #18
First one stumped me so didnt get to second
[code]

[2020-11-16 14:27] tuhoalyhuynh commented on #18
[code]

[2020-11-16 14:27] wjlock commented on #18
[code]

[2020-11-16 14:27] zfinnan commented on #18
`function mindPsAndQs(str) {
        var i,
            temp,
            streak,
            length = arr.length,
            highestStreak = 0;

        for(i = 0; i < length; i++) {
            if(temp != '' && temp == arr[i])
                streak++;
            } else {
                streak = 1;
            }
            temp = arr[i];
            if(streak > highestStreak) {

[2020-11-16 14:27] NikkiHmltn commented on #18
[code]

[2020-11-16 14:27] edgerees commented on #18
I got Question 2 but had a difficult time with Question 1 so i moved passed it.
[code]

[2020-11-16 14:28] AJStrizzy commented on #18
function mindPsAndQs(str) {
    let streak = []
    let longest = []
    let arr = str.split(" ")

    for( let i = 0; i < arr.length; i++) {
        if (arr[i] === 'q' || 'p' && arr[i+1] === 'q' || 'p') {
            streak.push(arr[i])
        } else if (arr[i-1] === 'q' || 'p' &&  arr[i] === 'q' || 'p') {
            streak.push(arr[i])
        }
        if(streak.length > longest.length) {

[2020-11-16 14:28] zfinnan commented on #18
[code]

[2020-11-16 14:28] codebypaul commented on #18
Challenge 1
[code]
Wasn't able to complete challenge 2

[2020-11-16 14:28] AlexJBustillos commented on #18
[code]
did not finish challenge 2

[2020-11-16 14:28] canourrea23 commented on #18
[code]
[code]

[2020-11-16 14:28] Swolepenguin commented on #18
[code]

[2020-11-16 14:28] JJURIZ commented on #18
Nothing for problem 1

[code]

[2020-11-16 14:28] ruvvet commented on #18
[code]

[2020-11-16 14:28] ABarranco95 commented on #18
Didn't get to finish the 1st much less start the 2nd

[code]

[2020-11-16 14:28] alanavery commented on #18
[code]

[2020-11-16 14:28] anonyymous1 commented on #18
[code]

Didn't get to the second one cause stuck on first one

[2020-11-16 14:28] tuanhrex commented on #18
[code]

Didn't finish

[2020-11-16 14:28] nitishdayal commented on #18
Challenge 1

[code]

Challenge 2

[code]

[2020-11-16 14:28] sschneeberg commented on #18
[code]

[code]

[2020-11-16 14:29] fmuwanguzi commented on #18
I started looking into using match to count the string and didn't get through the first one  or get to the second one

[code]

[2020-11-16 14:33] lev-choubine commented on #18
[code]

[2020-11-16 14:36] JaxonNarramore commented on #18
function mindPsAndQs(str) {
    let count = 0;
    let max = 0;
    for (i = 0; i < str.length(); i++)
}

Sorry I wasn't able to finish I had a committing/pushing issue with deliverable that me and Pete were solving

[2020-11-16 19:18] nitishdayal commented on #17
Done

[2020-11-16 20:56] wjlock commented on #3
I keep getting this error in my terminal:

[code]

[2020-11-16 21:32] NikkiHmltn commented on #3
<img width="976" alt="Screen Shot 2020-11-16 at 1 31 14 PM" src="https://user-images.githubusercontent.com/65046641/99310650-2af1a780-2810-11eb-9ff0-9546ade5b840.png">
<img width="728" alt="Screen Shot 2020-11-16 at 1 32 36 PM" src="https://user-images.githubusercontent.com/65046641/99310670-32b14c00-2810-11eb-9cf1-960ab2b927f9.png">
<img width="680" alt="Screen Shot 2020-11-16 at 1 32 47 PM" src=

[2020-11-16 21:36] tcgilbert commented on #3
Cannot find favesController, so I assume there is an importing issue

![Screen Shot 2020-11-16 at 4 34 55 PM](https://user-images.githubusercontent.com/64277654/99310971-cfccae80-2829-11eb-8251-30255dfebcd4.png)
![Screen Shot 2020-11-16 at 4 35 12 PM](https://user-images.githubusercontent.com/64277654/99310978-d1967200-2829-11eb-88c6-4d3795a86842.png)

[2020-11-16 21:44] nitishdayal commented on #18
[code]

[2020-11-16 21:45] JaxonNarramore commented on #18
function evenCaps(str) {
    let strArray = str.split('');
    for (let i = 0; i < strArray.length; i++) {
        if (i%2 === 0) {
            strArray[i] = strArray[i].toUpperCase();
        }
    }
    return strArray.join('');
}

[2020-11-16 21:45] sschneeberg commented on #18
[code]

[2020-11-16 21:46] tcgilbert commented on #18
[code]

[2020-11-16 21:46] alanavery commented on #18
[code]

[2020-11-16 21:46] CoreyWilson319 commented on #18
[code]

[2020-11-16 21:47] JaxonNarramore commented on #18
[code]

[2020-11-16 21:47] ruvvet commented on #18
[code]

[2020-11-16 21:48] tylerdance commented on #18
[code]

[2020-11-16 21:48] richardleung1 commented on #18
[code]

[2020-11-16 21:50] tuanhrex commented on #18
[code]

[2020-11-16 21:50] NykywanP commented on #18
function evenCaps(sentence){

    let newstr = '';
    for (let i=0; i<sentence.length; i++){
        if( i %2 ===0 ){
            newstr += sentence[i].toUpperCase();

        } else {
        newstr += sentence[i];}

    }
return newstr;
}

[2020-11-16 21:50] zfinnan commented on #18
[code]

[2020-11-16 21:51] JJURIZ commented on #18
[code]

[2020-11-16 21:51] Swolepenguin commented on #18
[code]

[2020-11-16 21:51] wjlock commented on #18
function evenCaps(sentence){

    let newstr = '';
    for (let i=0; i<sentence.length; i++){
        if( i %2 ===0 ){
            newstr += sentence[i].toUpperCase();

        } else {
        newstr += sentence[i];}

    }
return newstr;
}

[2020-11-16 21:52] lev-choubine commented on #18
[code]

[2020-11-16 21:52] marjames98 commented on #18
function evenCaps(sentence) {
let sentenceArray = sentence.split('');
for(let i = 0; i < sentenceArray.length; i ++) {
if (i % 2 === 0) {
sentenceArray[i] = sentenceArray[i].toUpperCase();
}
}
return sentenceArray.join('');
}

[2020-11-16 21:52] tuhoalyhuynh commented on #18
[code]

[2020-11-16 21:53] AlexJBustillos commented on #18
[code]

[2020-11-16 21:53] ABarranco95 commented on #18
[code]

[2020-11-16 21:53] maddevred commented on #18
[code]

[2020-11-16 21:53] jtreeves commented on #18
[code]

[2020-11-16 21:53] canourrea23 commented on #18
function evenCaps(sentence) {
    let string = sentence.split('');
    for(let i = 0; i < string.length; i++) {
        if (i % 2 === 0) {
            string[i] = string[i].toUpperCase();
        }
    }
    return string.join('');
}
console.log(evenCaps("Tom got a small piece of pie"));

[2020-11-16 21:53] AJStrizzy commented on #18
function evenCaps(sentence) {
    let string = sentence.split('');
    for(let i = 0; i < string.length; i++) {
        if (i % 2 === 0) {
            string[i] = string[i].toUpperCase();
        }
    }
    return string.join('');
}
console.log(evenCaps("Tom got a small piece of pie"));

[2020-11-16 21:54] anonyymous1 commented on #18
[code]

[2020-11-16 21:54] NikkiHmltn commented on #18
[code]

[2020-11-16 21:54] fmuwanguzi commented on #18
[code]

[2020-11-16 21:56] codebypaul commented on #18
const evenCaps = (sentence) =>{
    newStr = ''
    for (let i = 0; i < sentence.length; i++){
        if (i%2 === 0) newStr += sentence[i].toUpperCase()
        else newStr += sentence[i]
    }
    console.log(newStr)
}
evenCaps('this is my sentence')

[2020-11-16 21:58] edgerees commented on #18
[code]

[2020-11-16 23:29] tylerdance commented on #3
<img width="518" alt="Screen Shot 2020-11-16 at 6 26 38 PM" src="https://user-images.githubusercontent.com/72777766/99320338-6a80b980-2839-11eb-9380-e44a23cfd644.png">

Unable to load my `index.ejs` in chrome. `ejs` and `express` both successfully installed as dependencies in my `.json`. `index.ejs` is within my views folder. Any ideas?

[2020-11-17 00:47] romebell commented on #3
@tylerdance Did you `require` the module `express-ejs-layouts`?

[code]

[2020-11-17 16:22] nitishdayal commented on #4
Unable to convert buffer from `fs.readFileSync` to a JSON object using `JSON.parse`:
![Screen Shot 2020-11-17 at 8 20 57 AM](https://user-images.githubusercontent.com/14283798/99416646-b0339580-28be-11eb-901c-30b757feba87.png)
![Screen Shot 2020-11-17 at 8 21 55 AM](https://user-images.githubusercontent.com/14283798/99416746-c9d4dd00-28be-11eb-859e-7ef6f45671a6.png)

[2020-11-17 16:26] romebell commented on #4
@nitishdayal Do you have a `dinosaurs.json` file?

[2020-11-17 16:27] nitishdayal commented on #4
I do, but I just looked at it and it's empty. :) So. Simple enough error. I assumed it was already populated with some data; guess I missed the step where we seeded it. Thanks!

[2020-11-17 17:34] NikkiHmltn commented on #4
Having some issues trying to get the img url for cryptids to post. Its breaking my code so I commented it out. Any ideas?

[code]

[2020-11-17 17:35] fmuwanguzi commented on #4
![Screen Shot 2020-11-17 at 12 35 34 PM](https://user-images.githubusercontent.com/72531389/99425833-64d6b280-28d1-11eb-9d4f-9e1283a01c57.png)

This came up once i started my crypt controller

[2020-11-17 17:36] NikkiHmltn commented on #4
It looks like "expresss" has one to many 's' there! Try that error out?

[2020-11-17 17:48] romebell commented on #4
<img width="882" alt="Screen Shot 2020-11-17 at 9 52 21 AM" src="https://user-images.githubusercontent.com/13144457/99427891-ce979200-28ba-11eb-9709-8d55a692d391.png">

@fmuwanguzi Did you get [this](https://github.com/SEI-ATL/UNIT_2/issues/4#issuecomment-729086446) working?

Double check your spelling of `express` inside your `index.js` file

[2020-11-17 17:56] fmuwanguzi commented on #4
I fixed that typo and this came up
![Screen Shot 2020-11-17 at 12 55 58 PM](https://user-images.githubusercontent.com/72531389/99428138-3efedd00-28d4-11eb-852d-abcd6f3ba149.png)

[2020-11-17 21:48] NikkiHmltn commented on #4
<img width="607" alt="Screen Shot 2020-11-17 at 1 48 23 PM" src="https://user-images.githubusercontent.com/65046641/99454647-905e9a80-28db-11eb-94c7-12b8567ac66a.png">
<img width="1207" alt="Screen Shot 2020-11-17 at 1 48 32 PM" src="https://user-images.githubusercontent.com/65046641/99454660-96547b80-28db-11eb-9ae7-b0e029bd7648.png">

[2020-11-17 21:59] canourrea23 commented on #4
![Screen Shot 2020-11-17 at 4 58 42 PM](https://user-images.githubusercontent.com/73137943/99455707-37e8c680-28f6-11eb-8953-5cb9a60700ee.png)

[2020-11-17 22:05] mkzarra commented on #4
@canourrea23  check your " in your inputs

[2020-11-17 22:05] canourrea23 commented on #4
Sorry I was able to get it fixed and I deleted it. Thanks!!

[2020-11-18 20:32] tylerdance commented on #5
<img width="701" alt="Screen Shot 2020-11-18 at 3 31 59 PM" src="https://user-images.githubusercontent.com/72777766/99584674-45b05180-29b3-11eb-82e0-a9262af19206.png">

[2020-11-18 20:34] CoreyWilson319 commented on #5
![image](https://user-images.githubusercontent.com/72322079/99584838-7abca400-29b3-11eb-8a03-a854deb5a00c.png)

[2020-11-18 20:35] pmacaluso3 commented on #5
Corey, on linux you will have to put your username and password into your development environment object in your config.json. Make sure not to commit or push it!

[2020-11-18 20:36] CoreyWilson319 commented on #5
![image](https://user-images.githubusercontent.com/72322079/99585052-ce2ef200-29b3-11eb-9a34-af276d0e03ba.png)
gives me this error when I fill those portions

[2020-11-18 20:37] pmacaluso3 commented on #5
Lemme see what you've got in there, just make sure to change your pw to some placeholder string

[2020-11-18 20:39] CoreyWilson319 commented on #5
![image](https://user-images.githubusercontent.com/72322079/99585326-2c5bd500-29b4-11eb-91e5-5f961fe3cec5.png)

[2020-11-18 20:46] pmacaluso3 commented on #5
Those values for username & password have got to be quoted strings

[2020-11-18 20:47] CoreyWilson319 commented on #5
Doesn't seem to care after adding qoutes

[2020-11-18 20:48] CoreyWilson319 commented on #5
Okay getting closer it doesn't like single quotes

[2020-11-18 20:50] CoreyWilson319 commented on #5
Is there a way to look and find my password, I don't use one to log into postgres

[2020-11-18 21:10] pmacaluso3 commented on #5
Try the password you use to unlock your machine at startup?

[2020-11-18 21:11] CoreyWilson319 commented on #5
Sorry yeah, I tried that but for whatever reason it wasn't working out. I ended up just changing the password in postgres and using that password worked. Thanks

[2020-11-18 21:21] tylerdance commented on #5
<img width="1378" alt="Screen Shot 2020-11-18 at 4 20 23 PM" src="https://user-images.githubusercontent.com/72777766/99589494-0fc29b80-29ba-11eb-8b7e-48660538174d.png">
Getting an error in my psql that customer doesn't exist, but I don't see any errors in my terminal where I created the model

[2020-11-18 21:26] pmacaluso3 commented on #5
Try exiting and re-entering your psql session?

[2020-11-18 21:28] tylerdance commented on #5
Yes thank you, sorry should've tried that.. sigh

[2020-11-19 01:28] #4 closed, assigned to nobody

[2020-11-19 01:30] #5 closed, assigned to nobody

[2020-11-19 01:32] #3 closed, assigned to nobody

[2020-11-19 19:35] NikkiHmltn commented on #6
<img width="898" alt="Screen Shot 2020-11-19 at 11 33 28 AM" src="https://user-images.githubusercontent.com/65046641/99715020-2f5dd080-2a5b-11eb-9d5b-24ff8de4916a.png">
It's not letting me do git init anymore. Thought I misspelled it. I have no json files now. Should I delete and redo it?

[2020-11-19 19:36] canourrea23 commented on #6
![Screen Shot 2020-11-19 at 2 35 51 PM](https://user-images.githubusercontent.com/73137943/99715294-a5bafc80-2a74-11eb-97c6-a0e0fc39ff44.png)

[2020-11-19 21:39] mkzarra commented on #6
Resolved

[2020-11-20 21:12] maddevred commented on #7
@romebell
![Screenshot from 2020-11-20 16-10-43](https://user-images.githubusercontent.com/73178321/99850294-1df3f180-2b4b-11eb-8d52-ba81b1693b6b.png)
![Screenshot from 2020-11-20 16-10-56](https://user-images.githubusercontent.com/73178321/99850296-1fbdb500-2b4b-11eb-893f-e2fe03f13baf.png)

[2020-11-20 21:23] maddevred commented on #7
@romebell restarted my terminal ![Screenshot from 2020-11-20 16-22-46](https://user-images.githubusercontent.com/73178321/99851149-ab841100-2b4c-11eb-819a-a4ef534f07b0.png)

[2020-11-20 21:31] maddevred commented on #7
@romebell could you go back over what to do when you see this now that i got my server running?
![Screenshot from 2020-11-20 16-29-41](https://user-images.githubusercontent.com/73178321/99851842-cd31c800-2b4d-11eb-9b62-62ec4bf52d06.png)

[2020-11-20 21:39] #6 closed, assigned to nobody

[2020-11-20 22:40] romebell commented on #7
@marjames98 Make sure that you have `dotenv` installed by
[code]

Also, at the top of your `index.js` file, you need to put
[code]

[2020-11-22 19:24] #7 closed, assigned to nobody

[2020-11-30 14:35] romebell opened #19 "Rome's Pod"
### Add your link to the ISSUE that you create here. Be sure to assign your Pod Leader

[2020-11-30 14:35] romebell opened #20 "Pete's Pod"
### Add your link to the ISSUE that you create here. Be sure to assign your Pod Leader

[2020-11-30 14:35] romebell opened #21 "Dexter's Pod"
### Add your link to the ISSUE that you create here. Be sure to assign your Pod Leader

[2020-11-30 14:36] romebell opened #22 "Mike's Pod"
### Add your link to the ISSUE that you create here. Be sure to assign your Pod Leader

[2020-11-30 15:40] JJURIZ commented on #22
How to incorporate Spotify Authorization into my app.

[2020-11-30 15:43] canourrea23 commented on #19
### Can't figure out how to get googles API
### I signed up but I'm only getting an OAuth
### Not seeing option for Key API
### I am having trouble navigating and knowing where to look in
### youtube videos but it seem like the website has been updated since and random clicking

[2020-11-30 16:39] anonyymous1 commented on #20
Looked into searching with an array, thats a no go. Also, did research on the restrictions of what you can store to your DB and it seems like the creator doesn't mind what you do with it. My next questions is does it makes sense to store everything for a persons favorite so that it doesn't request from the API a lot like we discussed OR should I store the main attributes like I did below?

I also

[2020-11-30 17:11] pmacaluso3 commented on #20
Re: what to store, I'd say store everything you think you could want to display, erring on the side of grabbing too much. Re: how the favorites table should look, you definitely want it (and all tables) to have a PK id field

[2020-11-30 17:19] fmuwanguzi commented on #19
https://github.com/fmuwanguzi/weather-app

I keep getting a cannot get error when I add /weather and I've check my routes multiple times @romebell

[2020-11-30 19:34] canourrea23 commented on #19
### I don't how to setup up to use the API
### I installed npm needed
### ```
errors: [
    {
      message: 'API key not valid. Please pass a valid API key.',
      domain: 'global',
      reason: 'badRequest'
    }
  ]
}
[code]

[2020-11-30 19:50] fmuwanguzi commented on #19
I keep getting this error
![Screen Shot 2020-11-30 at 2 48 55 PM](https://user-images.githubusercontent.com/72531389/100656761-31594680-331b-11eb-9e32-194a9101a752.png)

this is how my weather route is set up
![Screen Shot 2020-11-30 at 2 50 19 PM](https://user-images.githubusercontent.com/72531389/100656863-62397b80-331b-11eb-9cd5-61bd79cb5b89.png)

[2020-11-30 19:56] romebell commented on #19
@canourrea23 what API are you trying to access data from?

[2020-11-30 19:58] romebell commented on #19
@fmuwanguzi you spelled `response` wrong on line 5

[2020-11-30 20:11] fmuwanguzi commented on #19
@romebell that didn't change anything I'm not sure if maybe it order in which i put my code in

[2020-11-30 20:21] tylerdance commented on #22
I'm trying to render the api data on my page but am getting `alerts is not defined` when I try to render my `finalObject` on line 47

<img width="1472" alt="Screen Shot 2020-11-30 at 3 19 43 PM" src="https://user-images.githubusercontent.com/72777766/100660216-b181ab00-331f-11eb-824d-8f7895e9496b.png">

![Screen Shot 2020-11-30 at 3 13 06 PM](https://user-images.githubusercontent.com/72777766/1006

[2020-11-30 21:18] mkzarra commented on #22
@tylerdance Where is `alerts` coming from and what is it for?

[2020-11-30 21:38] JaxonNarramore commented on #21
![Screen Shot 2020-11-30 at 3 36 35 PM](https://user-images.githubusercontent.com/71084561/100668624-d840e100-3321-11eb-8366-b4a085360e8e.png)
When i am using the api key that used as a sample i am able to see the data i am looking for but when i try using my api key i don't get the data im looking for.
https://developer.climacell.co/v3/reference

[2020-12-01 15:04] JaxonNarramore commented on #21
![Screen Shot 2020-12-01 at 9 02 27 AM](https://user-images.githubusercontent.com/71084561/100757394-f22b0400-33b3-11eb-9be1-8c10d088b610.png)
![Screen Shot 2020-12-01 at 9 02 48 AM](https://user-images.githubusercontent.com/71084561/100757432-fd7e2f80-33b3-11eb-9fff-d76e8c9edd3d.png)
![Screen Shot 2020-12-01 at 9 03 30 AM](https://user-images.githubusercontent.com/71084561/100757524-171f7700-33b4

[2020-12-01 15:14] tylerdance commented on #22
Display "Saved Trails" page bug. Trying to just get the pages `<h1>` to load upon clicking the "Saved Trails" button on the homepage before attempting to actually save trails to database and display on page.

<img width="599" alt="Screen Shot 2020-12-01 at 10 11 07 AM" src="https://user-images.githubusercontent.com/72777766/100758785-e6dcd600-33bd-11eb-9028-b9ed1f5c7019.png">

Also have some quest

[2020-12-01 15:18] mkzarra commented on #22
what behavior are you seeing when you click "Saved Trails"?

[2020-12-01 15:19] tylerdance commented on #22
`Cannot GET /savedTrails`

[2020-12-01 15:49] canourrea23 commented on #19
In creating my table I was able to create it but I keep getting a problem to migrate it.
![Screen Shot 2020-12-01 at 10 47 21 AM](https://user-images.githubusercontent.com/73137943/100763108-c1060000-33c2-11eb-953b-a9d787436aec.png)
![Screen Shot 2020-12-01 at 10 47 08 AM](https://user-images.githubusercontent.com/73137943/100763115-c2cfc380-33c2-11eb-96e6-367ffbbebffa.png)

[2020-12-01 16:44] JaxonNarramore commented on #21
![Screen Shot 2020-12-01 at 10 43 16 AM](https://user-images.githubusercontent.com/71084561/100769695-070e9400-33c2-11eb-8da8-8f16ece294bf.png)
I cant get the data to display in the console, the api works when i run it in postman.

[2020-12-01 16:52] dextermichael commented on #21
you have " `console.log(response.data.aqi)`
- shouldnt it be api?

[2020-12-02 14:56] CoreyWilson319 commented on #22
https://github.com/CoreyWilson319/Project-2/issues/1

[2020-12-02 15:19] JJURIZ commented on #22
Inconsistent application of CSS rules in app.
In this route you can see the style applied:
![StyleApplied](https://user-images.githubusercontent.com/52257926/100891665-82864900-3487-11eb-8949-0d11987c5426.png)
After searching and getting a new route, style no longer applied:
![RouteBroken](https://user-images.githubusercontent.com/52257926/100891876-bbbeb900-3487-11eb-8033-a3075aeb0aa9.png)
Receiv

[2020-12-02 17:36] tylerdance commented on #22
Saving trail to database bug

Post route:
<img width="796" alt="post route" src="https://user-images.githubusercontent.com/72777766/100909532-dcdcd500-349a-11eb-9421-d7a14be991fd.png">

`index.ejs` with "Save trail" button
<img width="1098" alt="save trail button" src="https://user-images.githubusercontent.com/72777766/100909649-00078480-349b-11eb-8b0e-b69315909f12.png">

Error message:
<img width

[2020-12-02 17:55] NikkiHmltn commented on #22
<img width="437" alt="Screen Shot 2020-12-02 at 9 52 10 AM" src="https://user-images.githubusercontent.com/65046641/100911555-400f3d00-3484-11eb-98e2-14cc85cb186e.png">
![Screen Shot 2020-12-02 at 9 52 19 AM](https://user-images.githubusercontent.com/65046641/100911566-41d90080-3484-11eb-9a9a-0c0138a4f1a0.png)

I'm having issues carrying the context over from the POST route. It's saying it's not d

[2020-12-03 14:25] CoreyWilson319 commented on #22
https://github.com/CoreyWilson319/Project-2/issues/2

[2020-12-03 14:46] canourrea23 commented on #19
### I am trying to get my cities to go through the interpulation
### Issue
[code]
### I get ReferenceError: res is not defined.
### I am not requesting things correctly
### I also tried looking for another example and even this code
[code]
and I get SyntaxError: Unexpected end of input

[2020-12-03 14:57] romebell commented on #19
[code]
You can only use `res` inside of a route like so:

[code]

[2020-12-03 14:58] romebell commented on #19
Is this a route that you made inside of a `location.js` file? Double check to make sure that you have all your parenthesis is the right place.

[code]

[2020-12-03 15:03] romebell commented on #19
#### Inside of your `comment` model associations, I'm thinking:
[code]

#### Inside of `user` model
[code]

#### Inside of `game` model
[code]

[2020-12-03 15:07] canourrea23 commented on #19
I have it in my profile.js but that's why I did ```const city = req.params.Washington``` I thought it would plug Washington in

[2020-12-03 15:11] JaxonNarramore commented on #21
<img width="1349" alt="Screen Shot 2020-12-03 at 9 07 33 AM" src="https://user-images.githubusercontent.com/71084561/101046895-fcc9d280-3546-11eb-9f6e-9433afffc245.png">
![Screen Shot 2020-12-03 at 9 08 00 AM](https://user-images.githubusercontent.com/71084561/101046946-0bb08500-3547-11eb-8153-7f54de2f5ade.png)
![Screen Shot 2020-12-03 at 9 08 28 AM](https://user-images.githubusercontent.com/71084

[2020-12-03 15:12] JaxonNarramore commented on #21
![Screen Shot 2020-12-03 at 9 08 00 AM](https://user-images.githubusercontent.com/71084561/101046946-0bb08500-3547-11eb-8153-7f54de2f5ade.png)

[2020-12-03 15:13] JaxonNarramore commented on #21
![Screen Shot 2020-12-03 at 9 08 28 AM](https://user-images.githubusercontent.com/71084561/101047013-1cf99180-3547-11eb-8da7-fc043632572c.png)

For some reason the images didnt show up when i posed the links to my issue above so here they are.

[2020-12-03 15:30] romebell commented on #19
@AlexJBustillos This [line](https://github.com/AlexJBustillos/Loud-and-Green/blob/7154628623c7cc1a4a5d036e24b7ec7189743b63/controllers/users.js#L59) is giving back some issues. It looks like you're searching for the user by an ID in req.body.id , but comes back as undefined. You're only passing up the `strainId` in the form, but you will also need to pass up the user `id` somehow.

[2020-12-03 15:33] romebell commented on #19
### @canourrea23 What are trying to do here?
<img width="644" alt="Screen Shot 2020-12-03 at 7 46 18 AM" src="https://user-images.githubusercontent.com/13144457/101052886-fe41cd80-353b-11eb-9e20-e0a04706b0a7.png">

[code]

[2020-12-03 15:55] sschneeberg commented on #19
<img width="737" alt="Screen Shot 2020-12-03 at 10 54 29 AM" src="https://user-images.githubusercontent.com/73137932/101053632-01e24e00-3556-11eb-8a6b-ef6b28c638b3.png">

Getting syntax error around my range when SQL parses it.  This is the closest I've gotten to making it work because SQL is actually seeing values this time

[2020-12-03 15:56] canourrea23 commented on #19
I am trying to have the interpolation populate with the city I want it to use, but when I use {city} is says its already defined.
![image](https://user-images.githubusercontent.com/73137943/101053697-17f00e80-3556-11eb-8b32-396bc918557a.png)
### Error
[code]

[2020-12-03 16:03] romebell commented on #19
@canourrea23 you have city declared `2` times.

You can do this instead:
[code]

### Updated with where `city` and `requestObject` will go
<img width="694" alt="Screen Shot 2020-12-03 at 8 04 22 AM" src="https://user-images.githubusercontent.com/13144457/101055130-832de680-353e-11eb-8325-e0b3f8631c4b.png">

[2020-12-03 17:07] fmuwanguzi commented on #19
@romebell
I keep on getting a `SequelizeDatabaseError: column "userId" does not exist` when I try to post into my users profile. I have checked my associations. i'm not sure if I should try adding a joined table or maybe userWeather with attribute userid and weatherid.

This is the post route I am trying to use  and the associations below it

[code]

### @fmuwanguzi Are both of these inside of 1 m

[2020-12-03 17:29] romebell commented on #19
@fmuwanguzi Are both of these inside of 1 model?

<img width="497" alt="Screen Shot 2020-12-03 at 9 28 56 AM" src="https://user-images.githubusercontent.com/13144457/101065406-fab54300-3549-11eb-8467-f9a580fa9392.png">

[2020-12-03 17:37] fmuwanguzi commented on #19
@romebell They are in 2 different models. The top one is in my weather model and the bottom one is in my user model.

@fmuwanguzi What does your model look like for each? Put them here...

[2020-12-03 17:44] fmuwanguzi commented on #19
@romebell please see below
####Weather
[code]
####user
[code]

[2020-12-03 17:52] romebell commented on #19
@marjames98 go to my [express_authentication](https://github.com/romebell/express_authentication) repo and use that as a template. From there you will do the following:

### Step 1: Use my template
<img width="1436" alt="Screen Shot 2020-12-03 at 9 46 24 AM" src="https://user-images.githubusercontent.com/13144457/101068080-284fbb80-354d-11eb-89b1-578e1ddd0dfa.png">

### Step 2: Add `what_to_cook`

[2020-12-03 18:05] romebell commented on #19
@canourrea23
So i am thinking of doing something like this to get the city I want to populate. Am I on the right track?
---
❓
1. How can we make this similar to what we want to build out?
2. Is this where you're putting the scraping data?
---
[code]

### `profile.ejs`
[code]

[2020-12-03 18:12] maddevred commented on #19
@romebell
![Screenshot from 2020-12-03 13-10-21](https://user-images.githubusercontent.com/73178321/101070355-3e6b7500-3569-11eb-8db4-cecc8b81ccf0.png) step 7

[2020-12-03 19:15] canourrea23 commented on #19
### response

[2020-12-03 20:12] romebell opened #23 "Heroku Deployment Issues"
Post all of your issues here with a `screenshot`

[2020-12-03 20:13] JaxonNarramore commented on #23
![Screen Shot 2020-12-03 at 2 13 39 PM](https://user-images.githubusercontent.com/71084561/101082855-c3f32300-3571-11eb-9d7a-621a9c8cd7a3.png)
✅

[2020-12-03 20:14] fmuwanguzi commented on #23
![Screen Shot 2020-12-03 at 3 13 47 PM](https://user-images.githubusercontent.com/72531389/101082869-2c460280-357a-11eb-80d3-37c939ad1e32.png)
✅

[2020-12-03 20:21] canourrea23 commented on #23
`➜  dev_jobs_usa git:(main) ✗ npm -g audit fix
npm ERR! code EAUDITGLOBAL
npm ERR! `npm audit` does not support testing globals

npm ERR! A complete log of this run can be found in:
npm ERR!     /Users/carolinaurrea/.npm/_logs/2020-12-03T20_19_28_015Z-debug.log
➜  dev_jobs_usa git:(main) ✗ heroku --version
heroku/7.47.4 darwin-x64 node-v14.15.0
➜  dev_jobs_usa git:(main) ✗ npm ls -g | grep heroku

[2020-12-03 20:27] tylerdance commented on #23
Not getting anything when I check for global install. Is it ok that I'm doing all this at the desktop rather than project folder?

<img width="819" alt="Screen Shot 2020-12-03 at 3 26 40 PM" src="https://user-images.githubusercontent.com/72777766/101084442-f7d34600-357b-11eb-8054-9b10c2ad5da8.png">

[2020-12-03 20:36] romebell commented on #23
@tylerdance You now need to `cd` into your project.

[2020-12-03 20:38] canourrea23 commented on #23
[code]

[2020-12-04 13:31] jtreeves commented on #21
https://github.com/jtreeves/read-this-next/issues/2

[2020-12-04 16:36] romebell commented on #19
[code]

[2020-12-04 17:26] romebell commented on #19
@canourrea23
[code]

[2020-12-04 21:07] fmuwanguzi commented on #19
@romebell
![Screen Shot 2020-12-04 at 4 05 38 PM](https://user-images.githubusercontent.com/72531389/101214779-91692900-364a-11eb-90e4-866a5d92152d.png)

Every-time I try to create on my post route  it updates the database but all the values of the object come out as null

[code]
I just see a [object:null prototype] when I console.log(req.body);
![Screen Shot 2020-12-04 at 4 27 08 PM](https://user

[2020-12-04 22:59] romebell commented on #19
@canourrea23 `parsedPriceRows`

[code]

[2020-12-05 01:15] romebell commented on #19
[code]

[2020-12-05 15:12] romebell commented on #19
All you need to do is install the `axios` library by saying:

[code]

From there inside of your `server.js` file, you will need to require `axios` at the top of your file:
[code]

Inside of your route, you can do:

[code]

[2020-12-05 15:15] romebell commented on #19
[code]

[2020-12-05 15:44] romebell commented on #19
## Scratch paper
[code]

[2020-12-05 15:56] romebell commented on #19
@canourrea23
[code]

[2020-12-05 16:27] romebell commented on #19
@fmuwanguzi You need to send the `weather` up to the `profile` page
[code]

Inside of your `ejs` page, you can do the following:

[code]

[2020-12-05 16:38] romebell commented on #19
@canourrea23 Can you update your first couple lines to this....
[code]

[2020-12-05 18:24] fmuwanguzi commented on #19
@romebell so it renders it to another page weather/save. I am in the process of trying to to see what is being rendered so I can use findAll to display more than one place(added to saved) using a get route. It comes back mostly empty it does however show the user

![Screen Shot 2020-12-05 at 1 22 36 PM](https://user-images.githubusercontent.com/72531389/101260305-f67d5700-36fc-11eb-9275-37ba3be6f2

[2020-12-06 04:15] AlexJBustillos commented on #19
https://github.com/AlexJBustillos/Loud-and-Green/issues/2

[2020-12-07 23:35] #19 closed, assigned to nobody

[2020-12-07 23:35] #21 closed, assigned to dextermichael

[2020-12-07 23:36] #23 closed, assigned to nobody

[2020-12-07 23:36] #22 closed, assigned to mkzarra

[2020-12-07 23:36] #20 closed, assigned to pmacaluso3

[2020-12-10 21:37] #18 closed, assigned to nobody

[2021-02-04 04:06] #17 closed, assigned to frankcollins3, marjames98